{% if ("paciente_index" in datos.session.permisos) or ("paciente_new" in datos.session.permisos) or ("paciente_update" in datos.session.permisos) or ("paciente_destroy" in datos.session.permisos) or ("paciente_show" in datos.session.permisos) %}
	<li class="nav-item .hidden-lg-down">
		<a class="nav-link d-none d-xl-block" href="./index.php?action=moduloPacientes">Pacientes</a>
	</li>
{% endif %}