{% include "header.html.twig" %}

<title> Busqueda de usuarios </title>

{% include "styles.html.twig" %}

<script type="text/javascript" src="./templates/js/manejoSesiones.js"></script>
</head>

{% include "navBar.html.twig" %}

<div class="row container-fluid alMedio">
		<div class="col-sm-4"> </div>
		<div class="col-sm-4">
			<h1 class="alMedio text-center">Búsqueda de Usuarios</h1>
			<br>
			<p class="{{ datos.tipo_mensaje}}">{{ datos.mensaje }}</p>
	 		<form method="POST" action="./index.php?action=buscarUsuario">
				 <div class="form-group">
				 	<label for="first_name">Nombre de usuario</label>
				    <input type="text" class="form-control" name="username">
				 </div>
				 <div class="form-group">
				    <label for="last_name">¿Activo?</label>
				    <select name="activo" class="form-control">
				    	<option value="">Seleccionar</option>
				    	<option value="0">Sí</option>
				    	<option value="1">No</option>
				    </select>
				   </div>
				 <button class="btn btn-outline-primary text-black btn my-2 my-sm-0" type="submit">Buscar</button>
			</form> 
		</div>
		<div class="col-sm-4">
	</div>