{% include 'home.html.twig' %}

<script type="text/javascript" src="./templates/js/jquery.js"></script>
<script type="text/javascript" src="./templates/js/ajax.js"></script>

{% block content %}
	<div class="row container-fluid alMedio">
		<div class="col-sm-4"> </div>
		<div class="col-sm-4">
			<h1 class="alMedio text-center">Nuevo Paciente</h1>
			<p class="text-center"> Nota: los campos que tienen (*) son obligatorios</p>
			<br>
		</div>
		<div class="col-sm-4"></div>
	</div>
		<div class="row container-fluid">
			<div class="col-sm-6">
				<form method="POST" action="./index.php?action=crearPacienteNuevo">
				 <div class="form-group">
				 	<label for="first_name">Nombre*</label>
				    <input type="text" name="nombre" class="form-control" >
				 </div>
				 <div class="form-group">
				    <label for="last_name">Apellido*</label>
				    <input type="text" name="apellido" class="form-control" >
				 </div>
				 <div class="form-group">
				 	<label for="domicilio">Domicilio actual*</label>
				    <input type="text" name="domicilio" class="form-control" >
				 </div>
				 <div class="form-group">
				 	<label for="partidos">Partido</label>
				 	<select class="form-control" name="partidos" id="partidos">
				 		<option value="">Seleccionar partido</option>
				 		{% for partido in datos.listaPartidos %}
				 			<option name="id_partido" value="{{ partido.id }}"> {{ partido.nombre }} </option>
				 		{% endfor %}
				 	</select>
				 </div>
				 <div class="form-group" id="divLocalidades">
				 	<label for="partidos">Localidad</label>
				 	<select class="form-control" name="localidades" id="localidades">
				 	</select>
				 </div>
				 <div class="form-group">
				 	<label for="partidos">¿Tiene el documento en su poder?*</label>
				 	<select class="form-control" name="tiene_documento">
				 		<option value="0">No</option>
				 		<option value="1">Sí</option>
				 	</select>
				 </div>
				 <div class="form-group">
				 	<label for="obra_social">Obra Social</label>
				 	<select class="form-control" name="obra_social_id">
				 		<option value="1">IOMA</option>
				 		<option value="2">OSDE</option>
				 		<option value="3">OSECAC</option>
				 	</select>
				 </div>
			</div>
			<div class="col-sm-6">
				 <div class="form-group">
				 	<label for="genero">Género*</label>
				 	<select name="genero_id" class="form-control" >
				 		<option value="1">Masculino</option>
				 		<option value="2">Femenino</option>
				 		<option value="3">Otro</option>
				 	</select>
				 </div>
				 <div class="form-group">
				 	<label for="tipo_documento">Tipo de Documento*</label>
				 	<select class="form-control" name="tipo_documento" >
				 		<option value="1">DNI</option>
				 		<option value="2">LC</option>
				 		<option value="3">CI</option>
				 		<option value="4">LE</option>
				 	</select>
				 </div>
				 <div class="form-group">
				 	<label for="fecha_nac">Fecha de nacimiento*</label>
				 	<input type="date" name="fecha_nac" class="form-control" >
				 </div>
				 <div class="form-group">
				 	<label for="numero">Número de documento*</label>
				 	<input type="text" class="form-control" name="numero" >
				 </div>
				 <div class="form-group">
				    <label for="numeroHistoriaClinica">Número de historia clínica</label>
				    <input type="text" class="form-control" name="nro_historia_clinica">
				 </div>
				 <div class="form-group">
				    <label for="numeroCarpeta">Número de carpeta</label>
				    <input type="text" class="form-control" name="nro_carpeta">
				 </div><div class="form-group">
				    <label for="telefono">Número de telefono</label>
				    <input type="text" class="form-control" name="tel">
				 </div>
			</div>
			<div class="row container-fluid">
				<div class="col-sm-4"></div>
				<div class="col-sm-4 text-center"><button class="btn btn-outline-primary text-black btn my-2 my-sm-0 btn-lg" type="submit">¡Listo!
				</button></div>
				</div>
			</div>
			</form> 
		</div>
	</div>
{% endblock %}