{% extends "layout.html.twig" %}

{% block title %}
Hospital Dr. Alejandro Korn
{% endblock %}

{% block busquedaNavbar %}
<form class="form-inline my-2 my-lg-0">
	<input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
	<button class="btn btn-outline-secondary text-white btn my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block sesionNavbar %}
<ul class="navbar-nav mr-right">
	<li class="nav-item">
		<p class="nav-link">Bienvenido! <span class="sr-only">(current)</span></p>
	</li>	
</ul>
{% endblock %}

{% block content %}

{% endblock %}
