{% extends "layout.html.twig" %}

{% block title %}
Hospital Dr. Alejandro Korn
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="./templates/js/manejoSesiones.js"></script>
{% endblock %}

{% block botones %}
{% if datos is defined %}
  <div class="divider-vertical"></div>
  <li class="nav-item .hidden-lg-down">
            <a class="nav-link d-none d-xl-block" href="#">Pacientes</a>
  </li>
  <li class="nav-item .hidden-lg-down">
            <a class="nav-link d-none d-xl-block" href="#">Consultas</a>
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Administración
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Usuarios</a>
        <a class="dropdown-item" href="#">Roles</a>
        <a class="dropdown-item" href="#">Permisos</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Configuración</a>
      </div>
    </li>  
{% endif %}
{% endblock %}
{% block busquedaNavbar %} 
<form class="form-inline my-2 my-lg-0">
	<input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
	<button class="btn btn-outline-secondary text-white btn my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block sesionNavbar %}

		 {% if datos is defined %}
      <li class="hidden-lg-down"><a class="nav-link "> Bienvenido {{ datos.first_name }} <span class="sr-only">(current)</span></a></li>
      <a class="nav-link" href="index.php?action=logout" onclick="return confirmacion()">Cerrar Sesión <span class="sr-only">(current)</span></a>
      
    {% else %}
      <a class="nav-link" href="index.php?action=login">Iniciar Sesión <span class="sr-only">(current)</span></a>
    {% endif %}

{% endblock %}

{% block content %}
{% if datos is not defined %}
<div class="row container-fluid alMedio">
  	<div class="col-sm-4">
  		<h2 class="text-center">Avances y seguridad de las vacunas y su contribución a la salud pública</h2>
  		<p>Los adelantos en la vacunación han disminuido dramáticamente los casos de infecciones comunes. A través de la historia moderna de la producción de vacunas, tanto los profesionales de la salud como el público, expresaron su preocupación con la seguridad de las vacunas y productos relacionados. Hoy día este aspecto está altamente regulado: desde el comienzo del desarrollo de la vacuna, durante los ensayos clínicos y después que la vacuna se aprueba y administra a la población general. En este artículo repasaremos los procesos que permiten identificar áreas con problemas ó que requieran modificación con la meta de asegurar que las vacunas utilizadas son las más seguras.</p>
  		<a href="#"> <p class="text-center text-muted"> Ver detalles </p></a>
  	</div>
  	<div class="col-sm-4">
  		<h2 class="text-center">Desórdenes neurocognitivos en mujeres infectadas con el Virus de Inmunodeficiencia Humana (VIH)</h2>
  		<p>"La infección de VIH envuelve el sistema nervioso central (cerebro) desde etapas tempranas de la infección y durante la enfermedad de VIH. Hoy día, con el advenimiento de los medicamentos antiretrovirales efectivos, podemos decir que la infección de VIH se ha convertido en una enfermedad crónica. Los medicamentos antiretrovirales de alta potencia y diversos mecanismos de acción han controlado marcadamente la infección y una reducción del daño cognitivo severo. Sin embargo, a pesar del tratamiento efectivo, el 50% de los pacientes van a presentar algún deterioro de su estado cognitivo, pero en su forma más leve. Recientemente se identificó que los pacientes con daño cognitivo leve pueden progresar a estados más severos y que las mujeres están 3 veces más vulnerables a progresar que los hombres. Por eso es importante identificar las personas que presenten deterioro cognitivo para evaluarlos y descartar posibles co-morbilidades.</p>
  		<a href="#"> <p class="text-center text-muted"> Ver detalles </p></a>
  	</div>
  	<div class="col-sm-4">
  		<h2 class="text-center">Los ojos, una ventana para detectar otras enfermedades</h2>
  		<p>La pupila es una ventana para llegar al fondo de los ojos donde los vasos sanguíneos, el tejido de la retina o el nervio óptico pueden dar pistas de la existencia de enfermedades no oftalmológicas. Determinados tipos de cánceres, esclerosis múltiple, diabetes o tiroides son algunos ejemplos</p>
  		<a href="#"> <p class="text-center text-muted"> Ver detalles </p></a>
  	</div>
</div>
{% endif %}
{% endblock %}
