{% extends "layout.html.twig" %}

{% block title %}
Iniciar Sesión
{% endblock %}


{% block content %}
	<div>
		<h2> Iniciar sesión</h2>
		<form>
			Nombre: <input type="text" name="name">
			Contraseña: <input type="password" name="password">
		</form>
	</div>
{% endblock %}