{% include "header.html.twig" %}

<title>Hospital Dr. Alejandro Korn</title>

{% include "styles.html.twig" %}

<script type="text/javascript" src="./templates/js/manejoSesiones.js"></script>
<script src=\"http://code.jquery.com/jquery-latest.js\"></script>

{% include "navBar.html.twig" %}

<h1 class="alMedio text-center">SITIO EN MANTENIMIENTO</h1>