{% include "home.html.twig" %}

<h2 class="alMedio text-center"> Módulo de Roles </h2>
<div class="row container-fluid alMedio">
	<div class="col-sm-6">
			<div class="text-center"><a href="./index.php?action=listadoRoles" class="btn btn-primary btn-lg">Listado de roles</a></div>	
	</div>
	<div class="col-sm-6">	
			<div class="text-center"><a href="./index.php?action=formularioNuevoRol" class="btn btn-primary btn-lg center">Agregar nuevo rol</a> </div>	
	</div>
</div>