</head>
<body class="footerSinTapar">
	<nav class="navbar navbar-expand-sm navbar-expand-lg bg-dark navbar-dark navbar-default navbar-static-top">
		<a class="navbar-brand navbar-left" href="index.php"><img class="img-responsive" src="./templates/img/logo.png"></a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
		    	<li class="nav-item .hidden-lg-down">
		    		<a class="nav-link d-none d-xl-block" href="index.php">Hospital Dr. Alejandro Korn <span class="sr-only">(current)</span></a>
		    	</li>
		    	<div class="divider-vertical"></div>
		    	{% include "botonPacientes.html.twig" %}
		    	{% include "botonConsultas.html.twig" %}
		    	{% include "botonAdministracion.html.twig" %}
			</ul>
			<ul class="navbar-nav mr-right">
			{% if datos is defined %}
	  			<li class="hidden-lg-down"><a class="nav-link "> Bienvenido {{ datos.first_name }} <span class="sr-only">(current)</span></a></li>
	  			<a class="nav-link btn btn-primary text-white" href="index.php?action=logout" onclick="return confirmacion()">Cerrar Sesión <span class="sr-only">(current)</span></a>
	  	    {% else %}
	  			<a class="nav-link btn btn-primary ml-1 text-white" href="index.php?action=login"> Iniciar Sesión <span class="sr-only">(current)</span></a>
			{% endif %}
			</ul>
		</div>
	</nav>	