<label for="partidos">Localidad</label>
<select class="form-control" name="localidades" id="localidades">
{% for cantciudad in datos.ciudades %}
	{% for ciudad in cantciudad%}
		<option name="id_ciudad" value="{{ ciudad.id }}"> {{ ciudad.nombre }} </option>
	{% endfor %}
{% endfor %}
</select>
</body>