{% include 'home.html.twig' %}

<h2 class="alMedio text-center"> Módulo de Reportes </h2>
<p class="text-center">Agrupar por...</p>
<div class="row container-fluid alMedio">
	<div class="col-sm-4">
			<div class="text-center"><a href="./index.php?action=mostrarGraficosPorMotivo" class="btn btn-primary btn-lg"> Motivo</a></div>	
	</div>
	<div class="col-sm-4">	
			<div class="text-center"><a href="./index.php?action=mostrarGraficosPorGenero" class="btn btn-primary btn-lg center"> Género</a> </div>		
	</div>
	<div class="col-sm-4">		
			<div class="text-center"><a href="./index.php?action=mostrarGraficosPorLocalidad" class="btn btn-primary btn-lg center"> Localidad</a> </div>		
	</div>
</div>