{% include 'home.html.twig' %}


<h2 class="alMedio text-center"> Módulo de Usuarios </h2>

	<div class="row container-fluid alMedio">
		<div class="col-sm-3">
			{% if ("usuario_new" in datos.permisos) %}
				<div class="text-center"><a href="./index.php?action=nuevoUsuario" class="btn btn-primary btn-lg">Nuevo usuario</a></div>
			{% endif %}
		</div>
		<div class="col-sm-3">
			{% if ("usuario_index" in datos.permisos) %}
				<div class="text-center"><a href="./index.php?action=formularioBusquedaUsuarios" class="btn btn-primary btn-lg center"> Buscar usuario</a> </div>
			{% endif %}
		</div>
		<div class="col-sm-3">
			{% if ("usuario_index" in datos.permisos) %}
				<div class="text-center"><a href="./index.php?action=listarUsuarios" class="btn btn-primary btn-lg center"> Listado de usuarios</a> </div>
			{% endif %}
		</div>
		<div class="col-sm-3">
			{% if ("usuario_show" in datos.permisos) %}
				<div class="text-center"><a href="./index.php?action=verMiPerfil" class="btn btn-primary btn-lg center"> Ver mi perfil</a> </div>
			{% endif %}
		</div>

